*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Manrope', sans-serif;
}

img{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}

.container{
	height: 100vh;
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	background: hsl(210, 46%, 95%);
}

.card{
	display: grid;
	grid-template-columns: auto;
	justify-content: center;
	align-items: center;
    width: 90vw;
    background: #fff;
    border-radius: 8px;
    box-shadow: 2px 2px 10px hsl(210deg 15% 78%);
}

.card-img{
	border-radius: 8px 0 0 8px;
}

.card .content{
	display: grid;
    grid-row-gap: 10px;
    align-items: center;
    padding: 25px;
}

.content .footer{
	display: grid;
    grid-template-columns: auto 6fr 1fr;
    grid-column-gap: 10px;
    align-items: center;
}

.profile-img img{
    width: 45px;
    border-radius: 100%;
}

.content .title,.profile-info .name{
	font-size: 18px;
	color: hsl(217, 19%, 35%);
	font-weight: 700;
}

.content .description{
	font-size: 13px;
	color: hsl(214, 17%, 51%);
}

.profile-info .name{
	color: hsl(217, 19%, 35%);
	font-size: 13px;
	font-weight: 700;
}

.profile-info .date{
	color: hsl(212, 23%, 69%);
	font-size: 13px;
}

.share-icon{
	width: 15px;
    height: 15px;
    background: hsl(210, 46%, 95%);
    border-radius: 100%;
    padding: 15px;
    display: grid;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

.share-icon img{
	width: 15px;
}

.share-icon:hover{
	background: hsl(214, 17%, 51%);
}

.share-icon:hover img{
	filter: invert(99%) sepia(100%) saturate(4%) hue-rotate(102deg) brightness(101%) contrast(105%);
}

/*desktop view*/

@media (min-width: 991px){
	.card{
		grid-template-columns: 1fr 2fr;
		width: 60vw;
	}
}
